# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.pnpm/
*.tsbuildinfo
dist/
build/
.env
.env.*.local
!.env.example
Thumbs.db
.idea/
*.sw?
*.bak
package-lock.json
yarn.lock
pnpm-lock.yaml
.cache/